In [3]:
"hello".capitalize()

'Hello'

In [4]:
'hello'.replace('e','a')

'hallo'

In [6]:
'hello'.isalpha()

True

In [8]:
'hello'.isdigit()

False

In [9]:
'123'.isdigit()

True

In [11]:
'hello'=="hello"=="""hello"""

True

In [12]:
"1,2,3".split(',')

['1', '2', '3']

In [14]:
name="sakshi"
machine="anunaya"
"Nice to meet you {0}, I am {1}".format(name,machine)

'Nice to meet you sakshi, I am anunaya'

In [19]:
name="sakshi"
machine="anunaya"
f"Nice to meet you {name}, I am {machine}"

'Nice to meet you sakshi, I am anunaya'

In [23]:
name="sakshi"
machine="anunaya"
r"Nice to meet you {name}, I am {machine}"

'Nice to meet you {name}, I am {machine}'

In [30]:
# delevloper defined variable but not assigned to any value, It will not show any error if we call aliens_found 
aliens_found=None
python_course=True
java_course=False
print(int(python_course))
print(int(java_course))
str(java_course)

1
0

'False'

In [34]:
number=5
if number==5:
    print('number is 5')
else:
    print('number is not 5')

number is 5

In [47]:
number=5
if number:
    print('number is defined and truthy')
    
text="sakshi"
if text:
    print('text is defined and truthy')
    
python_course=True
if python_course:
    print('This will execute_1')
    
aliens_found=None
if aliens_found:
    print('This will not executed')

if not python_course:
    print('This will not execute')
    
if not python_course or text :
    print('This will execute_2')
    
if python_course and number==5 :
    print('This will execute_3')

number is defined and truthy
text is defined and truthy
This will execute_1
This will execute_2
This will execute_3

In [52]:
# Ternary if statement
a=1
b=2
print("Bigger" if a>b else "Smaller")
"Bigger" if a<b else "Smaller"

Smaller

'Bigger'

In [67]:
student_names=["sakshi","anunaya","loves"]
student_names.append("you")
student_names

['sakshi', 'anunaya', 'loves', 'you']

In [68]:
del(student_names[2])
student_names

['sakshi', 'anunaya', 'you']

In [69]:
'sakshi' in student_names

True

In [71]:
len(student_names)

3

In [76]:
student_names[2:]

['you']

In [78]:
student_names[1:]

['anunaya', 'you']

In [81]:
# ignore first and last element in list, It doesnot modify list
student_names[1:-1]

['anunaya']

In [83]:
for name in student_names:
    print('name={0}'.format(name))

name=sakshi
name=anunaya
name=you

In [96]:
x=0
for index in range(10):
    x += 10
    print("x is {0}".format(x))

x is 10
x is 20
x is 30
x is 40
x is 50
x is 60
x is 70
x is 80
x is 90
x is 100

In [97]:
x=0
for index in range(1,11):
    x += 10
    print("x is {0}".format(x))

x is 10
x is 20
x is 30
x is 40
x is 50
x is 60
x is 70
x is 80
x is 90
x is 100

In [98]:
x=0
for index in range(1,11,2):
    print("index is {0}".format(index))

index is 1
index is 3
index is 5
index is 7
index is 9

In [100]:
student_names=["sakshi","anunaya","loves","you"]
for name in student_names:
    if(name=="anunaya"):
        print('found Anunaya')
        break;
    print('current name',name)

current name sakshi
found Anunaya

In [107]:
student_names=["sakshi","anunaya","loves","you"]
for name in student_names:
    if(name=="anunaya"):
#         print('found Anunaya')
        continue;
    print('current name={0}'.format(name))

current name=sakshi
current name=loves
current name=you

In [108]:
x=0;
while x<=5:
    print(x)
    x+=1

0
1
2
3
4
5

In [121]:
# Dictionaries
students={
    "name":"sakshi",
    "student_id":111,
    "feedback":None
}
print(students["name"])
# print(students["last_name"]) error produced
print(students.get("last_name","unknown"))
print(students.get("name","unknown"))
print(students.keys())
print(students.values())
del(students["name"])
students

sakshi
unknown
sakshi
dict_keys(['name', 'student_id', 'feedback'])
dict_values(['sakshi', 111, None])

{'feedback': None, 'student_id': 111}